//CSS reset
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

//mixins
@mixin border-radius($top, $right, $bottom, $left) {
	-webkit-border-top-left-radius: $top;
	-webkit-border-top-right-radius: $right;
	-webkit-border-bottom-right-radius: $bottom;
	-webkit-border-bottom-left-radius: $left;
	-moz-border-radius-topleft: $top;
	-moz-border-radius-topright: $right;
	-moz-border-radius-bottomright: $bottom;
	-moz-border-radius-bottomleft: $left;
	border-top-left-radius: $top;
	border-top-right-radius: $right;
	border-bottom-right-radius: $bottom;
	border-bottom-left-radius: $left;
}
@mixin transform($args){
	-webkit-transform: $args;
	-moz-tranform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}
@mixin noselect(){
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

$meter: 50px;	//reality to virtual conversion

//colors
$floor: url(wood_planks.jpg);
$background: #1f1e1e;
$table-color: black;
$wall-color: black;

//music colors
$music-green: #157F1F;
$music-orange: #CF5C36;
$music-red: #EF233C;
$music-blue: #226CE0;

html, body {
	background-color: $background;
}

.rotate {
	@include transform(rotate(90deg));
}

.floorplan {
	padding: 2 * $meter;
}

.main-room {
	height: 26 * $meter;
	width: 14.5 * $meter;
	background: $floor;
	background-size: 300px;
	position: relative;
	.left-wall {
		height: 8 * $meter;
		width: 1.5 * $meter;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $background;
	}
	.right-wall {
		height: 4 * $meter;
		width: 1.5 * $meter;
		position: absolute;
		top: 12 * $meter;
		right: 0;
		background-color: $background;
	}
}

.popup {
	position: fixed;
	bottom: 30px;
	left: 50%;
	@include transform(translateX(-50%));
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	font-size: 18px;
	font-family: monospace;
	width: 400px;
	text-align: center;
	transition: 2s cubic-bezier(0.99, 0.01, 0.58, 1) all;
	&.hide {
		opacity: 0;
	}
}

.spot {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0.2 * $meter solid transparent;
	border-right: 0.2 * $meter solid transparent;
	border-bottom: 0.2 * $meter solid white;
}

//
//	TABLES
//
.big-table {
	width: 2.5 * $meter;
	height: 1.2 * $meter;
	background-color: $table-color;
	position: absolute;
}
#big-table-1 {
	top: 0.7 * $meter;
	left: 3 * $meter;
}
#big-table-2 {
	top: 1 * $meter;
	left: 8.5 * $meter;
}
#big-table-3 {
	top: 4 * $meter;
	left: 2 * $meter;
}
#big-table-4 {
	top: 23.5 * $meter;
	left: 1.2 * $meter;
}

.small-table {
	width: 1.5 * $meter;
	height: 0.8 * $meter;
	background-color: $table-color;
	position: absolute;
}
#small-table-1 {
	top: 18.25 * $meter;
	left: 1 * $meter;
}
#small-table-2 {
	top: 12 * $meter;
	left: 1 * $meter;
}

.round-table {
	width: 0.8 * $meter;
	height: 0.8 * $meter;
	border-radius: 50%;
	background-color: $table-color;
	position: absolute;
}
#round-table-1 {
	top: 7 * $meter;
	left: 1.7 * $meter;
}
#round-table-2 {
	top: 0.1 * $meter;
	left: 7.5 * $meter;
}
#round-table-3 {
	top: 5 * $meter;
	left: 5.5 * $meter;
}

//
//	WALLS
//
.short-wall {
	border-radius: 4px;
	padding: 2px 0px;
	width: 4px;
	height: 1 * $meter;
	background-color: $wall-color;
	position: absolute;
}
#wall-1 {
	left: 8.5 * $meter;
	height: 6 * $meter;
}
#wall-2 {
	left: 7.5 * $meter;
	top: 1.5 * $meter;
	height: 2 * $meter;
}
#wall-3 {
	left: 6.5 * $meter;
	top: 2.5 * $meter;
	height: 3.5 * $meter;
}
#wall-4 {
	left: 5.5 * $meter;
	top: 5 * $meter;
	height: 2 * $meter;
}
#wall-5 {
	left: 4.5 * $meter;
	top: 6 * $meter;
	height: 2 * $meter;
}
#wall-6 {
	left: 7 * $meter;
	top: 5.5 * $meter;
	height: 5 * $meter;
}
#wall-7 {
	left: 4.5 * $meter;
	top: 8 * $meter;
	height: 12 * $meter;
}
#wall-8 {
	left: 9.5 * $meter;
	top: 8 * $meter;
	height: 2.5 * $meter;
}
#wall-9 {
	left: 9.5 * $meter;
	top: 11.5 * $meter;
	height: 2.5 * $meter;
}
#wall-10 {
	left: 9.5 * $meter;
	top: 15 * $meter;
	height: 5 * $meter;
}
#wall-11 {
	left: 7 * $meter;
	top: 9.5 * $meter;
	height: 5 * $meter;
}
#wall-12 {
	left: 7 * $meter;
	top: 13 * $meter;
	height: 5 * $meter;
}
#wall-13 {
	left: 7 * $meter;
	top: 15.5 * $meter;
	height: 4.5 * $meter;
}
//YOU MUST CONSTRUCT ADDITIONAL CLASSES

.detached-wall {
	width: 2.5 * $meter;
	height: 0.3 * $meter;
	background-color: $wall-color;
	position: absolute;
}
#dwall-1 {
	top: 21.5 * $meter;
	left: 0.3 * $meter;
}
#dwall-2 {
	top: 15.5 * $meter;
	left: 0.3 * $meter;
}
#dwall-3 {
	top: 9 * $meter;
	left: 0.3 * $meter;
}
